.header {
    text-align: center;
    margin: 30px 0;
}

.container-main {
    width: 60%;
    margin: 100px auto;
}

.container-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    row-gap: 20px;
}

.company-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: solid lightgrey 1px;
    border-radius: 10px;
    box-shadow: 0 15px 20px 10px rgba(0, 0, 0, 0.06);
}

.company-card-header {
    text-align: center;
    padding: 15px 0;
    border-bottom: solid lightgrey 1px;
    & {
        h3 {
            margin: 0;
        }
    }
}

.company-card-img {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.company-img {
    border-radius: 10px;
}


.company-button {
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #de681f;
    width: 40%;
    padding: 10px 15px;
    margin: 20px auto;
    border-radius: 10px;
    &:hover {
        background-color: darken($color: #de681f, $amount: 5%);
    }
}
