.header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
    &{
        h1 {
            letter-spacing: 1.5px;
        }
    }
}

.container-main {
    width: 70%;
    margin: auto;
}

.container-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    row-gap: 20px;
}

.company-card {
    @extend %card-block;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.company-card-header {
    text-align: center;
    padding: 15px 0;
    border-bottom: solid lightgrey 1px;
    & {
        h3 {
            margin: 0;
        }
    }
}

.company-card-img {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.company-img {
    border-radius: 10px;
}


.company-button {
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #de681f;
    width: 40%;
    padding: 10px 15px;
    margin: 20px auto;
    border-radius: 10px;
    &:hover {
        background-color: darken($color: #de681f, $amount: 5%);
    }
}

//company view page

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
}

.button-container {
    margin-bottom: 30px;
}
.company-info-top {
    @extend %card-block;
    display: flex;
    flex-wrap: wrap;
    @extend %company-card;
}

.info-img-container{
    display: flex;
    justify-content: center;
    width: 100%;
   @media (min-width: 576px) {
    margin-right: 30px;
    width: auto;
   }
}

.info-img {
    border-radius: 10px;
    min-width: 50px;
    max-width: 200px;
    width: 100%;
    margin: auto
}

.company-info {
    & {
        h2 {
            margin-bottom: 30px;
            @media (max-width: 576px) {
                margin-top: 15px;
            }
        }
    }
}

.company-info-bottom {
    @extend %card-block;
    @extend %company-card;
}

//admin dashboard page

.admin-dashboard {
    border-top: solid lightgrey 1px;
    margin-top: 40px;
}

.create-card {
    @extend %card-block;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 780px;
    margin: 40px auto;

}

.create-card-header {
    margin: 0;
}

.create-button {
    font-size: .8rem;
}