
//create company form

.form-header {
    text-align: center;
    margin: 20px 0;
}

.form-card {
    @extend %card-block;
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    @media (min-width: 576px) {
        padding: 40px;
    }

}
.form-layout{
    width: 100%;
}

.form-input-con{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.form-label {
    font-size: 1rem;
}

.form-input {
    border-radius: 5px;
    border: 1px solid grey;
    outline: none;
    height: 40px;
    padding-left: 10px;
}

.form-input:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.form-btn {
    @extend %btn;
    border: none;
    width: 100px;
    padding: 5px 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 5px;
}

.dash-btn-con {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
.dashboard-btn {
    @extend %btn;
    padding: 5px 10px;
    border-radius: 5px;
    width: 200px;
    margin: auto;
}

//admin file management page

.company-list {
    @extend %card-block;
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    padding: 10px 20px;
    margin: 20px auto;
}
.list-name {
    margin: 0;
    font-size: 1rem;
    padding: 2px 0;
    @media (max-width: 576px ) {
        font-size: .8rem;
    }
}

.list-link {
    @extend %btn;
    font-size: .8rem;
    padding: 5px 10px;
    border-radius: 3px;
    @media (max-width: 576px ) {
        font-size: .6rem;
    }
}

// admin file edit page 

.file-info-con {
    @extend %card-block;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}
.file-info-top {
    display: flex;
    @media (max-width: 576px){
        flex-direction: column;
    }
}

.file-info-list {
    margin-top: 15px;
}
.file-info-img {
    border-radius: 10px;
    margin-right: 20px;
}

.file-btn-con {
    padding-top: 15px;
}
.file-btn {
    @extend %btn;
    padding: 5px 10px;
    border-radius: 5px;
}

.file-info-bottom {
    @extend %card-block;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 15px 0;
}
